{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h4 class="mb-3">{{ title }}</h4>
<div class="card p-4" style="max-width: 700px;">
    <form method="post">
        {% csrf_token %}
        <div class="row g-3">
            <div class="col-md-6">
                <label class="form-label">First Name</label>
                {{ form.first_name }}
                <div class="text-danger small">{{ form.first_name.errors }}</div>
            </div>
            <div class="col-md-6">
                <label class="form-label">Last Name</label>
                {{ form.last_name }}
                <div class="text-danger small">{{ form.last_name.errors }}</div>
            </div>
            <div class="col-md-4">
                <label class="form-label">Date of Birth</label>
                {{ form.date_of_birth }}
                <div class="text-danger small">{{ form.date_of_birth.errors }}</div>
            </div>
            <div class="col-md-4">
                <label class="form-label">Gender</label>
                {{ form.gender }}
                <div class="text-danger small">{{ form.gender.errors }}</div>
            </div>
            <div class="col-md-4">
                <label class="form-label">Blood Group</label>
                {{ form.blood_group }}
                <div class="text-danger small">{{ form.blood_group.errors }}</div>
            </div>
            <div class="col-md-6">
                <label class="form-label">Phone</label>
                {{ form.phone }}
                <div class="text-danger small">{{ form.phone.errors }}</div>
            </div>
            <div class="col-md-6">
                <label class="form-label">Emergency Contact Name</label>
                {{ form.emergency_contact_name }}
                <div class="text-danger small">{{ form.emergency_contact_name.errors }}</div>
            </div>
            <div class="col-md-6">
                <label class="form-label">Emergency Contact Phone</label>
                {{ form.emergency_contact_phone }}
                <div class="text-danger small">{{ form.emergency_contact_phone.errors }}</div>
            </div>
            <div class="col-12">
                <label class="form-label">Address</label>
                {{ form.address }}
                <div class="text-danger small">{{ form.address.errors }}</div>
            </div>
            <div class="col-12">
                <label class="form-label">Known Allergies</label>
                {{ form.known_allergies }}
                <div class="text-danger small">{{ form.known_allergies.errors }}</div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-4">Save Patient</button>
        <a href="{% url 'patients:list' %}" class="btn btn-outline-secondary mt-4">Cancel</a>
    </form>
</div>
{% endblock %}
